export VIRTUAL_ENV=."venv"
if [ ! -d "$VIRTUAL_ENV" ]; then
  echo -n "Creating virtual environment..."
  python -m venv "$VIRTUAL_ENV"
  echo "done."
  echo -n "Activating virtual environment..."
  layout python3
  echo "done."
else
  echo -n "Activating virtual environment..."
  layout python3
  echo "done."
fi
